**/.project
**/.classpath
**/.settings
**/bin
.metadata/*
**/target/*
Servers/*
RemoteSystemsTempFiles/*
Servers/.project
**/test-output/*
.settings/org.eclipse.m2e.core.prefs

webservices/.settings/.jsdtscope
